@import "../../styles/variables.scss";

.button {
  display: inline-block;
  padding: 15px 55px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:disabled {
  cursor: not-allowed;
}

.button:disabled:hover {
  box-shadow: none;
  filter: brightness(90%);
}

@each $size in $sizes {
  .button--#{$size} {
    font-size: map-get($font-size-variants, $size);
  }
}

@each $variant in $variants {
  .button--#{$variant} {
    background-color: map-get($colors, $variant);
    @if $variant == light {
      color: map-get($colors, dark);
      box-shadow: 1px
        1px
        4px
        color-mix(in srgb, map-get($colors, dark), transparent 75%);
    } @else {
      color: map-get($colors, light);
      box-shadow: 1px
        1px
        4px
        color-mix(in srgb, map-get($colors, $variant), transparent 75%);
    }

    &:hover {
      @if $variant == light {
        box-shadow: 1px
          1px
          8px
          color-mix(in srgb, map-get($colors, dark), transparent 50%);
      } @else {
        box-shadow: 1px
          1px
          8px
          color-mix(in srgb, map-get($colors, $variant), transparent 50%);
      }
      filter: brightness(105%);
    }

    &:focus {
      @if $variant == light {
        outline: 2px
          solid
          color-mix(in srgb, map-get($colors, dark), transparent 50%);
      } @else {
        outline: 2px
          solid
          color-mix(in srgb, map-get($colors, $variant), transparent 50%);
      }
    }
  }
}

@each $roundedVariant in $roundedVariants {
  .button--rounded-#{$roundedVariant} {
    border-radius: map-get($rounded, $roundedVariant);
  }
}
