@import "../../styles/variables.scss";

.breadcrumbs {
  display: flex;
  gap: 20px;

  &__link {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

@each $variant in $variants {
  .breadcrumbs--#{$variant} {
    color: map-get($colors, $variant);
  }
}
